.button {
   background: var(--purpure);
   color: var(--white);
   font: var(--button);
   padding-inline-start: 24px;
   padding-inline-end: 24px;
   padding-block-start: 14px;
   padding-block-end: 14px;
   border-radius: 4px;
   text-transform: uppercase;
   border: none;
   text-decoration: none;
   text-align: center;

}

.button.is-secondary {
   background: unset;
   border: 2px solid var(--purpure);
   color: var(--purpure);
}