.button-ico {
   padding: 10px;
   border-radius: 4px;
   border: 2px solid var(--purpure);
   background: var(--white);
   text-decoration: none;
   display: inline-block;
}

.button-ico img {
   vertical-align: middle;
}