.footer-content {
   color: var(--white);
   text-align: center;
}

.footer-logo img {
   display: none;
}

.footer .social {
   justify-content: center;
}

@media screen and ( min-width: 768px ) {
   .footer-logo img {
      display: block;
   }
   .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
   }

   .footer .social {
      order: 3;
      padding: 0px;
   }
}

@media screen and ( min-width: 1024px ) {

   .footer {
      padding-block-start: 40px;
      padding-block-end: 40px;
   }
   .footer-copyright {
      display: flex;
      gap: 8px;
   }
}