@import "./button.css";
@import "./header.css";
@import "./button-ico.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./project.css";
@import "./social.css";
@import "./footer.css";
@import "./formulario.css";
@import "./title.css";

:root {
   --fontBase: 'Poppins', sans-serif;
   --headLine1: bold 95px/153.71px var(--fontBase);
   --headLine2: bold 59px/96px var(--fontBase);
   --headLine3: bold 48px/78px var(--fontBase);
   --headLine4: bold 34px/56px var(--fontBase);
   --headLine5: bold 24px/39px var(--fontBase);
   --body1: 16px/25px var(--fontBase);
   --body2: 14px/22px var(--fontBase);
   --button: bold 14px/22px var(--fontBase);
   --caption: 12px/19px var(--fontBase);
   --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
   --purpure: #310A90;
   --green: #42E2B8;
   --white: white;
}

body {
   background: var(--gradient);
   min-block-size: 100vh;
   font: var(--body1);
   color: var(--purpure);
   margin: 0;
}